<template>
    <span :class="{ 'text-danger' : error}">
        {{ setMessage }}
    </span>
</template>

<script lang="ts">
    import {eventBus} from '../common/eventBus';

    export default {
        props: {
            'statusCode': {
                required: true
            }
        },
        data() {
            return {
                error: false
            }
        },
        computed: {
            setMessage() {
                switch (this.statusCode) {
                    case 10:
                        this.error = true;
                        return eventBus.$data.translations.nosearchresults;
                    case 11:
                        this.error = true;
                        return eventBus.$data.translations.insufficientrights;
                    case 1000:
                        return eventBus.$data.translations.searchinprogress;
                    case 1:
                    case 2:
                    case 3:
                    case 100:
                        this.error = true;
                        return eventBus.$data.translations.error;
                    default:
                        return '';
                }
            }
        }
    }
</script>

<style scoped>

</style>