<template>
    <div>
        <input type="radio" :id="searchResult.id" class="cutsom-radio__input" @change="onChange(searchResult.id)">
        <label :for="searchResult.id" class="search-result">
            <span class="regasicon mari-2"></span>
            <span>
                <span class="search-result__name" v-html="getHtml(searchResult.name)"></span>
                <span v-for="(value, key) in searchResult" class="search-result__property"
                      v-if="value != null && usedProperties.indexOf(key)>-1">
                    {{ getKey(key) }}:
                    <span v-if="typeof value == 'string'" v-html="getHtml(value)"></span>
                    <span v-else>{{value}}</span>
                </span>
            </span>
        </label>
    </div>
</template>
<script lang="ts">
    import {eventBus} from '../common/eventBus';

    export default {
        props: {
            searchResult: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                usedProperties: [
                    'addresspost',
                    'addressvisit',
                    'phone',
                    'fax',
                    'email',
                    'url',
                    'organisationcategory'
                ]
            }
        },
        methods: {
            getHtml(value: string): string {
                return value.replace(/\{match\}/g, '<b>').replace(/\{\/match\}/g, '</b>');
            },
            getKey(key: string): string {
                return eventBus.$data.translations[key];
            },
            onChange(searchResultId) {
                /**
                 * misschien mis ik iets, maar dit is toch het enige wat hoeft te gebeuren?
                 * De javascript die het modal opent wil je toch naar een input event laten luisteren om de modal te sluiten.
                 */
                document.querySelector(eventBus.$data.selector).value = searchResultId as string;
            }
        }
    }
</script>
<style scoped>

</style>