<template>
    <div>
        <vue-message :status-code="statusCode" v-if="showMessage"/>
        <vue-person-search-result v-for="searchResult of searchResults"
                                  v-if="searchResult.type == 'person' && type =='persons'"
                                  :search-result="searchResult"
                                  :key="searchResult.id"/>
        <vue-organisation-search-result v-for="searchResult of searchResults"
                                        v-if="searchResult.type == 'organisation' && type =='organisations'"
                                        :search-result="searchResult"
                                        :key="searchResult.id"/>
    </div>
</template>

<script lang="ts">
    import {eventBus} from '../common/eventBus';
    import {SEARCHREQUEST} from '../common/Request';
    import VuePersonSearchResult from './PersonSearchResult.vue';
    import VueOrganisationSearchResult from './OrganisationSearchResult.vue';
    import {getCookie} from '../common/cookie';
    import VueMessage from './message.vue'
    import {environment} from '../environments/environment';

    export default {
        props: {
            'type': {
                type: String,
                required: true
            }
        },
        data () {
            return {
                searchWord: '',
                searchResults: [],
                statusCode: 1000,
                showMessage: false
            }
        },
        components: {
            'vue-person-search-result': VuePersonSearchResult,
            'vue-organisation-search-result': VueOrganisationSearchResult,
            'vue-message': VueMessage
        },
        // equivalent of ngOninit
        created() {
            // like "subscribing" on the subject
            eventBus.$on('search', (word: string) => {
                if (word) {
                    this.searchWord = word;
                    this.searchResult = [];
                    this.message = '';
                    this.getSearchResults(word)
                }
            });
        },
        methods: {
            getSearchResults(word: string) {
                // render messages only if there are translations
                if (!(Object.keys(eventBus.$data.translations).length === 0) && eventBus.$data.translations.constructor === Object) {
                    this.showMessage = true;
                }
                // setup the search request
                SEARCHREQUEST.query = word;
                SEARCHREQUEST.types = this.types;
                SEARCHREQUEST.types = this.subtypes;
                SEARCHREQUEST.onlyActive = this.onlyActive;
                SEARCHREQUEST.types = [this.type];

                // make call
                let xmlHttpRequest = new XMLHttpRequest();
                xmlHttpRequest.open('POST', environment.API_URL + '/search/fulltext');
                xmlHttpRequest.setRequestHeader('Content-Type', 'application/json');
                xmlHttpRequest.setRequestHeader('Authorization', `Bearer ${getCookie(environment.ssoCookieName)}`);
                xmlHttpRequest.responseType = 'json';
                xmlHttpRequest.onerror = () => {
                    this.showMessage = true;
                };
                xmlHttpRequest.onload = () => {
                    this.statusCode = xmlHttpRequest.response.statuscode;
                    this.searchResults = xmlHttpRequest.response.hits;
                };
                xmlHttpRequest.send(JSON.stringify(SEARCHREQUEST));
            }
        }
    }
</script>
<style>
    .mari-2 {
        margin-right: 2px;
    }

    .search-result__name {
        font-size: 24px;
        display: block;
    }

    .search-result__property {
        display: block;
    }

    .search-result {
        cursor: pointer;
    }

    .cutsom-radio__input {
        opacity: 0;
        position: absolute;
    }

    span {
        font-weight: normal;
    }
</style>