<template>
    <div>
        <div class="input-group">
            <label class="sr-only" for="search-word">Zoek naar:</label>
            <input type="text" class="form-control" id="search-word" @keyup.enter="search()" v-model="searchWord">
            <div class="input-group-btn">
                <button class="btn btn-default" @click="search()" type="button">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {eventBus} from '../common/eventBus';

    export default {
        // ES6 shortage for data: function(){...}
        data() {
            return {
                searchWord: ''
            }
        },
        methods: {
            search(): void {
                // pushing data to the Component
                eventBus.$emit('search', this.searchWord);
            }
        }
    }
</script>