<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-xs-12">
                    <vue-searchbar/>
                </div>
            </div>
        </div>
        <vue-searchresults :type="type"/>
    </div>
</template>
<script lang="ts">
    import VueSearchBar from './Searchbar.vue';
    import VueSearchResults from './SearchResults.vue';
    import {eventBus} from '../common/eventBus';
    import {getTranslations} from '../common/TranslationHandler';

    export default {
        // equivalent of @Input
        props: {
            'type': {
                type: String,
                required: true
            },
            'fieldSelector': {
                type: String,
                required: true
            }
        },
        // in vue other used components needs to be defined. (on this way you could use stuff like react in your component without vue breaking it)
        components: {
            'vue-searchbar': VueSearchBar,
            'vue-searchresults': VueSearchResults
        },
        // equivalent of ngOninit
        created(): void {
            eventBus.$data.selector = this.fieldSelector;
            getTranslations();

        }
    }
</script>
